@model YCWeb.Data.RoomType

@{
    Layout = null;
}
<div class="container">
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Room Type
                </label>
                <div>
                    @Html.DisplayFor(model => model.RoomTypeName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.Description)
                </label>
                <div>
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Created by
                </label>
                <div>
                    @Html.DisplayFor(model => model.User.FirstName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Updated Date
                </label>
                <div>
                    @Html.DisplayFor(model => model.CreatedDate)
                </div>
            </div>
        </div>
    </div>
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Updated by
                </label>
                <div>
                    @Html.DisplayFor(model => model.User1.FirstName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Updated Date
                </label>
                <div>
                    @Html.DisplayFor(model => model.UpdatedDate)
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="#" onclick="EditRoomType(@Model.RoomTypeID)">Edit</a> |
    <button onclick="OpenRoomType();" class="BackList">Back to List</button>
</div>