@model IEnumerable<YCWeb.Data.RoomType>

@{
    Layout = null;
}

<p>
    <button onclick="CreateRoomType();" class="btn btn-success">Create</button>
</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Created By
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                Updated By
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User1.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                <a href="#" onclick="EditRoomType(@item.RoomTypeID)">Edit</a> |
                <a href="#" onclick="DeleteRoomType(@item.RoomTypeID)">Delete</a>
            </td>
        </tr>
    }
    
    </table>