@model YCWeb.Data.Location

@{
    Layout = null;
}


<div class="container">
    @Html.Hidden("Header_Text", Model.LocationName, new { @id = "Header_Text" })
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.Latitude)
                </label>
                <div>
                    @Html.DisplayFor(model => model.Latitude)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.Longitude)
                </label>
                <div>
                    @Html.DisplayFor(model => model.Longitude)
                </div>
            </div>
        </div>
    </div>
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Created By
                </label>
                <div>
                    @Html.DisplayFor(model => model.User.FirstName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Created Date
                </label>
                <div>
                    @Html.DisplayFor(model => model.CreatedDate)
                </div>
            </div>
        </div>
    </div>
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Updated by
                </label>
                <div>
                    @Html.DisplayFor(model => model.User1.FirstName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Updated Date
                </label>
                <div>
                    @Html.DisplayFor(model => model.UpdatedDate)
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="#" onclick="EditLocation(@Model.LocationID)">Edit</a> |
    <button onclick="OpenLocation();" class="BackList">Back to List</button>
</div>
