@model YCWeb.Data.Office

@{
    Layout = null;
}
@{
    var checkin = ((DateTime)Model.CheckIn).ToString("HH:mm") + " " + ((DateTime)Model.CheckIn).ToString("tt");
    var checkout = ((DateTime)Model.CheckOut).ToString("HH:mm") + " " + ((DateTime)Model.CheckOut).ToString("tt");
}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.OfficeName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OfficeName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CheckIn)
                </dt>

                <dd>
                    @checkin
                </dd>
            </dl>
        </div>
        <div class="col-lg-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CGST)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CGST)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SGST)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SGST)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location.LocationName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location.LocationName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OfficeType.OfficeTypeName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OfficeType.OfficeTypeName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CheckOut)
                </dt>

                <dd>
                    @checkout
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Delete" class="btn btn-danger" onclick="DeleteConfirmedOffice(@Model.OfficeID);" />
        </div>
    </div>
</div>
<div>
    <button onclick="OpenOffices();" class="BackList">Back to List</button>
</div>