@model YCWeb.Data.Office

@{
    Layout = null;
}
@{
    var checkin = ((DateTime)Model.CheckIn).ToString("HH:mm") + " " + ((DateTime)Model.CheckIn).ToString("tt");
    var checkout = ((DateTime)Model.CheckOut).ToString("HH:mm") + " " + ((DateTime)Model.CheckOut).ToString("tt");
}
<div class="container">
    @Html.Hidden("Header_Text", Model.OfficeName, new { @id = "Header_Text" })
    <div class="row details">
        <div class="col-md-12">
            <div class="form-group">
                <label class="font-weight-bold">
                    Address
                </label>
                <div>
                    @Html.DisplayFor(model => model.Address), @Html.DisplayFor(model => model.Phone), @Html.DisplayFor(model => model.Email)
                </div>
            </div>
        </div>
    </div>
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Location
                </label>
                <div>
                    @Html.DisplayFor(model => model.Location.LocationName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Office Type
                </label>
                <div>
                    @Html.DisplayFor(model => model.OfficeType.OfficeTypeName)
                </div>
            </div>
        </div>
    </div>
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.CheckIn)
                </label>
                <div>
                    @checkin
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.CheckOut)
                </label>
                <div>
                    @checkout
                </div>
            </div>
        </div>        
    </div>
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.CGST)
                </label>
                <div>
                    @Html.DisplayFor(model => model.CGST)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.SGST)
                </label>
                <div>
                    @Html.DisplayFor(model => model.SGST)
                </div>
            </div>
        </div>
    </div>
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Created By
                </label>
                <div>
                    @Html.DisplayFor(model => model.User.FirstName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Created Date
                </label>
                <div>
                    @Html.DisplayFor(model => model.CreatedDate)
                </div>
            </div>
        </div>
    </div>
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Updated By
                </label>
                <div>
                    @Html.DisplayFor(model => model.User1.FirstName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Updated Date
                </label>
                <div>
                    @Html.DisplayFor(model => model.UpdatedDate)
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="#" onclick="EditOffice(@Model.OfficeID)">Edit</a> |
    <button onclick="OpenOffices();" class="BackList">Back to List</button>
</div>