@model IEnumerable<YCWeb.Data.Office>

@{
    Layout = null;
}

<p>
    <button onclick="CreateOffice();" class="btn btn-success">Create</button>
</p>
<div class="tbl-header">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OfficeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table>
        <tbody>
            @foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfficeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        <a href="#" onclick="DetailOffice(@item.OfficeID)">Details</a> |
                        <a href="#" onclick="EditOffice(@item.OfficeID)">Edit</a> |
                        <a href="#" onclick="DeleteOffice(@item.OfficeID)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(window).on("load resize ", function () {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({ 'padding-right': scrollWidth });
    }).resize();
</script>