@model YCWeb.Models.Facilitiy

@{
    Layout = null;
}
<div class="container">
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.RoomtypeName)
                </label>
                <div>
                    @Html.DisplayFor(model => model.RoomtypeName) -  @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.FacilityName)
                </label>
                <div>
                    @Html.DisplayFor(model => model.FacilityName)
                </div>
            </div>
        </div>
    </div>
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.Price)
                </label>
                <div>
                    @Html.DisplayFor(model => model.Price)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.IsRefundable)
                </label>
                <div>
                    @Html.DisplayFor(model => model.IsRefundable)
                </div>
            </div>
        </div>
    </div>
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Created By
                </label>
                <div>
                    @Html.DisplayFor(model => model.CreateBy)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Created Date
                </label>
                <div>
                    @Html.DisplayFor(model => model.CreatedDate)
                </div>
            </div>
        </div>
    </div>
    <div class="row details">
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Updated by
                </label>
                <div>
                    @Html.DisplayFor(model => model.UpdatedBy)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">
                    Updated Date
                </label>
                <div>
                    @Html.DisplayFor(model => model.UpdatedDate)
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="#" onclick="EditRoomTypeOption(@Model.RoomtypeId)">Edit</a> |
    <button onclick="OpenRoomTypeOption();" class="BackList">Back to List</button>
</div>