@model YCWeb.Data.RoomTypeOption

@{
    Layout = null;
}
@{
    var data = ((DateTime)@Model.CreatedDate).ToString("yyyy-MM-dd HH:mm");
}
<style type="text/css">
    #OfficeFacility {
        width: 100% !important;
    }

    #IsRefundable {
        width: 100% !important;
        height: 40px;
    }

    #RoomTypeID {
        width: 100% !important;
        height: 40px;
    }

    #Price {
        height: 40px !important;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "formEditRoomTypeOption" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.HiddenFor(model => model.RoomTypeOptionID)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.Hidden("CreatedDate", data)

    <div class="form-group">
        @Html.LabelFor(model => model.RoomTypeID, "Room Type", htmlAttributes: new { @class = "control-label col-md-10 required " })
        <div class="col-md-10">
            @Html.DropDownList("RoomTypeID", null, htmlAttributes: new { id = "RoomTypeID" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OfficeFacilityID, "Office Facility", htmlAttributes: new { @class = "control-label col-md-10 required" })
        <div class="col-md-10">
            @Html.ListBoxFor(model => model.SelectedValues, Model.Facilities, new { id = "OfficeFacility" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-10 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", id = "Price" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsRefundable, htmlAttributes: new { @class = "control-label col-md-10" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsRefundable, new { htmlAttributes = new { id = "IsRefundable" } })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Update" class="btn btn-success" onclick="updateRoomTypeOption();" />
        </div>
    </div>
</div>
}

<div>
    <button onclick="OpenRoomTypeOption();" class="BackList">Back to List</button>
</div>
