@model IEnumerable<YCWeb.Models.Facilitiy>

@{
    Layout = null;
}
<p>
    <button onclick="CreateRoomTypeOption();" class="btn btn-success">Create</button>
</p>
<div class="tbl-header">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Room Type
                </th>
                <th>
                    Facilities
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRefundable)
                </th>
                <th>
                    Created By
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    Updated By
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </th>*@
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomtypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FacilityName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRefundable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User1.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>*@
                <td>
                    <a href="#" onclick="DetailRoomTypeOptions(@item.RoomtypeId)">Details</a> |
                    <a href="#" onclick="EditRoomTypeOption(@item.RoomtypeId)">Edit</a> |
                    <a href="#" onclick="DeleteRoomTypeOption(@item.RoomtypeId)">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(window).on("load resize ", function () {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({ 'padding-right': scrollWidth });
    }).resize();
</script>
