@model IEnumerable<YCWeb.Data.Policy>

@{
    Layout = null;
}

<p>
    <button onclick="CreatePolicy();" class="btn btn-success">Create</button>
</p>
<div class="tbl-header">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Policy
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a href="#" onclick="DetailPolicy(@item.PolicyID)">Details</a> |
                        <a href="#" onclick="EditPolicy(@item.PolicyID)">Edit</a> |
                        <a href="#" onclick="DeletePolicy(@item.PolicyID)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(window).on("load resize ", function () {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({ 'padding-right': scrollWidth });
    }).resize();
</script>