@model YCWeb.Data.Room

@{
    Layout = null;
}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.RoomName)
                    </label>
                    <div>
                        @Html.DisplayFor(model => model.RoomName)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.Description)
                    </label>
                    <div>
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.MaxAdults)
                    </label>
                    <div>
                        @Html.DisplayFor(model => model.MaxAdults)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.MaxChildren)
                    </label>
                    <div>
                        @Html.DisplayFor(model => model.MaxChildren)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">
                        Room Type
                    </label>
                    <div>
                        @Html.DisplayFor(model => model.RoomType.RoomTypeName)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">
                        Room Option Type
                    </label>
                    <div>
                        @Html.DisplayFor(model => model.RoomTypeOption.Description)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">
                        Created by
                    </label>
                    <div>
                        @Html.DisplayFor(model => model.User.FirstName)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">
                        Updated Date
                    </label>
                    <div>
                        @Html.DisplayFor(model => model.CreatedDate)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">
                        Updated by
                    </label>
                    <div>
                        @Html.DisplayFor(model => model.User1.FirstName)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">
                        Updated Date
                    </label>
                    <div>
                        @Html.DisplayFor(model => model.UpdatedDate)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Delete" class="btn btn-danger" onclick="DeleteConfirmedRooms(@Model.RoomID);" />
        </div>
    </div>
</div>
<div>
    <button onclick="OpenRooms();" class="BackList">Back to List</button>
</div>
